<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Quadratic Equation Solver</title>
  <meta name="description" content="Quadratic Equation Solver">
  <meta name="author" content="Author">

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">  </script>

</head>

<body>

    <h1>The Quadratic Equation Solver</h1>
    <p>This app will solve quadratic equations for you!</p>
    <p>Please enter the coefficients below!</p>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <span>a:</span> <input id="a"></input>
        <span>b:</span> <input id="b"></input>
        <span>c:</span> <input id="c"></input>
    </div>

    <div>
        <button type="button" id="solve">Solve!</button>
    </div>

    <div>
        <!-- The span has an id so that later we can fill in the solution
             using js. -->
        <p> The solution is: <span id="solution"></span> </p>


<script type="text/javascript">

let get_input_coefficients = function() {
    let a = $("input#a").val()
    let b = $("input#b").val()
    let c = $("input#c").val()
    return {'a': parseInt(a),
            'b': parseInt(b),
            'c': parseInt(c)}
};

let send_coefficient_json = function(coefficients) {
    // console.log(JSON.stringify(coefficients));
    $.ajax({
        url: '/solve',
        contentType: "application/json",
        type: 'POST',
        complete: function (resp) {
            console.log(resp);
        },
        data: JSON.stringify(coefficients)
    });
};

$( "#solve" ).click(function(){
    send_coefficient_json(get_input_coefficients())
});

</script>

</body>
</html>
