<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Quadratic Equation Solver</title>
  <meta name="description" content="Quadratic Equation Solver">
  <meta name="author" content="Author">
  <script src="{{ url_for('static', filename='brython.js')}}"></script>
  <script src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>

</head>

<body onload="brython()">

    <h1>The Quadratic Equation Solver</h1>
    <p>This app will solve quadratic equations for you!</p>
    <p>Please enter the coefficients below!</p>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <!-- <span>a:</span> <input id="a"></input>
        <span>b:</span> <input id="b"></input>
        <span>c:</span> <input id="c"></input> -->
        <span>a:</span> <input id="a" value="1"></input>
        <span>b:</span> <input id="b" value="2"></input>
        <span>c:</span> <input id="c" value="1"></input>
    </div>

    <div>
        <button type="button" id="solve">Solve!</button>
    </div>

    <div>
        <!-- The span has an id so that later we can fill in the solution
             using js. -->
        <p> The solution is: <span id="solution"></span> </p>


<script type="text/python">

# Doe the following approach work? a real hack
# https://github.com/brython-dev/brython

from browser import document, ajax, console
import json

def get_input_coefficients():
    a = document['a'].value
    b = document['b'].value
    c = document['c'].value

    return {'a': int(a),
            'b': int(b),
            'c': int(c)}

def send_coefficient_json(event):
    coefficients = get_input_coefficients()
    req = ajax.Ajax()
    req.bind('complete', console.log)
    req.open('POST',
                '/solve',
                True)
    req.set_header('Content-Type', 'application/json')
    req.send(json.dumps(coefficients))

document["solve"].bind("click", send_coefficient_json)


</script>

</body>
</html>
